body {background-color: #FF7F50;
	max-width: 600 px;
	margin: 5 auto;
}
h1 {color: white; 
	text-align: center; 
	font-family: Helvetica; 
	font-size: 48px;}
h2 {color: white; 
	text-align: center; 
	font-family: Helvetica; 
	font-size: 30px;}
p {font-family: helvetica; 
	font-size: 18px;
	text-align: center;
boarder-bottom: 1px
padding-bottom: 5px;}
	a {color: #FFD558;}
